/*Global Styles*/
:root {
    --bg-color: #f8f9fa;
    --text-color: #212529;
    --primary-color: #606060;
    --border-color: #9a9a9a;
    --card-bg: #ffffff;
    --dark-blue: #315bbd75;
}

body {
    font-family: "Segoe UI";
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

/*Layout*/
header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
}

header {
    background-color: var(--dark-blue);
    border-radius: 8px;
    margin-top: 20px;
}

/*Side by side images and text*/
.content-row {
    display: flex;
    gap: 25px;
    align-items: stretch;
}

.content-text {
    flex: 2;
    display: flex;
}

.content-image {
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-image img {
    max-width: 100%;
    max-height: 200px;
}

/* Responsive adjustment for mobile screens */
@media (max-width: 600px) {
    .content-row {
        flex-direction: column;
        align-items: stretch;
    }
}

.row-reverse {
    flex-direction: row-reverse;
}

/*Navigation*/
nav {
    padding: 10px 0;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Typography */
h1,
h2,
h3,
h4 {
    color: #111111;
}

h1 {
    margin-bottom: 5px;
}

/*Tables*/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f1f3f5;
    font-weight: 600;
}

/*Footer*/
footer {
    color: #94a3b8;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 30px;
    border-bottom: 1px solid #393939;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li a {
    color: #94a3b8;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: #656565;
    text-decoration: underline;
    font-weight: 600;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom a {
    color: #94a3b8;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #656565;
    text-decoration: underline;
    font-weight: 600;
}

/*Media queries*/
@media (max-width: 768px) {
    header {
        text-align: left;
        margin: 15px;
    }

    nav {
        flex-direction: column;
        gap: 5px;
    }

    main {
        margin: 15px;
        padding: 20px;
    }

    .content-row,
    .content-row.row-reverse {
        flex-direction: column;
        gap: 15px;
    }

    .content-image {
        padding: 20px;
    }
}